*{
  padding: 0 0;
  margin: 0 0;
}

.wName{
  color: white;
  padding: 30px;
  font-family: cursive;
}
.weatherApp{
  background-image: linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)) ,url(../public/sky.jpg);
  width: 209vh;
  height: 98vh;
  background-position: center;
  background-size: cover;
}

.searchCity input{
  height: 40px;
  width: 55vh;
  position: absolute;
  text-align: center;
  left: 73vh;
  top: 25%;
  font-size: 20px;
  border-radius: 25px;
  border: 2px solid;
  color: white;
}

.temp{
 

  font-family: cursive;
  position: absolute;
  top: 45%;
  left: 35vh;
  color: white;
  font-size: 80px;
}
.temp h3{
font-size:'30px';
 position:'absolute';
  top:'95px'
}
.tempDetail{
  font-family: cursive;
  position: absolute;
  top: 45%;
  right: 35vh;
  font-size: 30px;
  font-weight: 800;
  color: white;

}

#imgWind{
position: absolute;
left: 200px;
  height: 55px;
  width: 95px;
  top: 160px;
}
#imgHumidity{
  position: absolute;
  top: 70px;
left: 230px;
  height: 70px;
  width: 60px;
  }



.img1{
  position: absolute;
right: 20vh;
bottom: 320px;
}
.img1 img{
 height: 400px;
 width: 400px;
}
.img2{
  position: absolute;
left: 12vh;
bottom: 320px;
}
.img2 img{
  height: 400px;
  width: 400px;
 }
 #errorRed{
color: red;
position: absolute;
top: 35%;
left: 41%;
font-size: 20px;
 }

 #loadGif{
position: absolute;
top: 40%;
left: 43%;
 }


 @media screen and (max-width:430px) { 
  .weatherApp{
    background-image: linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)) ,url(../public/sky.jpg);
    width: 100%; }
    .searchCity input{
      height: 30px;
      width: 35vh;
      position: absolute;
      text-align: center;
      left: 12%;
      top: 25%;
      font-size: 20px;
      border-radius: 25px;
      border: 2px solid;
      color: white;
    }
    .temp{
 
      font-size: 60px;
      font-family: cursive;
      position: absolute;
      top: 35%;
      left: 30vh;
      color: white;
    }
   
    
    .tempDetail{
      font-family: cursive;
      position: absolute;
      top: 65%;
      right: 20vh;
      font-size: 25px;
      font-weight: 800;
      color: white;
    
    }
    
    
    
    .img1{
  display: none;
    }
    
    .img2{
      position: absolute;
    left: -10px;
    top: 30%;
    }
    .img2 img{
      height: 300px;
      width: 300px;
     }
     #imgWind{
      position: absolute;
      left: 200px;
        height: 42px;
        width: 80px;
        top: 138px;
      }
      #imgHumidity{
        position: absolute;
        top: 60px;
      left: 230px;
        height: 47px;
        width: 60px;
        }
        #errorRed{
          color: red;
          position: absolute;
          top: 32%;
          left: 26%;
          font-size: 20px;
           }
          
           #loadGif{
          position: absolute;
          top: 36%;
          left: 34%;
           }
           .wName{
            color: white;
           font-family: cursive;
           position: absolute;
           top: 5%;
           left: 50px;
          }
 }